/* Base Styling */

body {
	background: #ddd;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

header {
	text-align: center;
	color: white;
	background: rgb(70, 70, 70);
}

h1 {
	margin-top: 0;
	padding: 25px;
}

h1,
h2 {
	font-family: 'Ibarra Real Nova', serif;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

section {
	width: 90%;
	margin: auto;
	text-align: center;
	border-bottom: 5px solid rgb(70, 70, 70);
}

section p {
	margin: auto;
	padding-bottom: 20px;
	width: 60%;
}

form {
	width: 90%;
	margin: auto;
	margin-top: 3px;
	border-top: 2px solid rgb(70, 70, 70);
}

/* Apply Box Shadow to Inputs, Selects, Checkboxes, Radios, Textarea */

.shadow {
	box-shadow: inset 3px 3px 10px #bdbcbc, -5px -5px 12px #eeeeee;
}

/* Contact Information Styling */

.contact-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 2px solid rgb(70, 70, 70);
	background-color: #ddd;
}

form h2 {
	margin-bottom: 0;
}

.contact-wrapper label {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 25px;
}

.contact-wrapper input,
.contact-wrapper select {
	padding: 15px 0;
	padding-left: 1em;
	background-color: #ddd;
	border: none;
	border-radius: 5px;
	width: 96%;
	outline: none;
	transition: background-color .6s;
}

.contact-wrapper select {
	width: 100%;
}

.contact-wrapper input:focus,
.contact-wrapper select:focus {
	background-color: rgb(240, 240, 240);
}

::placeholder {
	font-weight: 300;
	font-style: italic;
}

#zip {
	margin-bottom: 25px;
	width: 50%;
}

input[type="text"]:last-child {
	margin-bottom: 25px;
}

/* Newsletter Section Styling */

.newsletter-wrapper,
.checkboxes,
.radios {
	display: flex;
	flex-direction: column;
}

.checkboxes,
.radios {
	margin-bottom: 10px;
}

.checkboxes label,
.radios label {
	margin-bottom: 5px;
	margin-top: 10px;
}

.checkboxes input[type="checkbox"],
input[type="radio"] {
	border: #ddd;
	margin-right: 10px;
	transition: background-color .6s;
}

.textarea-label {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 10px;
}

textarea {
	display: block;
	border: none;
	border-radius: 5px;
	resize: none;
	margin-bottom: 25px;
	padding: 1em;
	width: 90%;
	background: #ddd;
	transition: background-color .6s;
}

textarea:focus {
	background-color: rgb(240, 240, 240);
}

/* Button Styling */

button {
	width: 100%;
	margin: auto;
	margin-bottom: 25px;
	padding: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #ddd;
	box-shadow: 3px 3px 10px #bdbcbc, -5px -5px 12px #eeeeee;
	font-size: 1.5em;
	text-transform: uppercase;
}

button:active {
	box-shadow: inset 3px 3px 10px #bdbcbc, -5px -5px 12px #eeeeee;
	outline: none;
}

/* Footer Styling */

footer p {
	text-align: center;
	font-style: italic;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
	.desktop-wrapper {
		max-width: 800px;
		margin: auto;
	}

	.contact-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.contact-wrapper label {
		width: 20%;
		margin-top: 40px;
	}

	.contact-wrapper input {
		padding-left: 1em;
		width: 76%;
		margin-top: 25px;
	}

	.contact-wrapper select {
		padding-left: 1em;
		width: 78.5%;
		margin-top: 25px;
	}

	textarea {
		width: 95%;
	}
}
